<style>
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

</style>

<div class="loading" ng-show="loading">
    <img src="/assets/images/Preloader_3.gif"> 
</div>
	<div class="row wrapper border-bottom white-bg page-heading">
    	<div class="col-lg-10">
	   	<h2>Service Qualify Page</h2>
	   	<ol class="breadcrumb">
	       	<li>
	          	<a href="index.html">Home</a>
	       	</li>
	       	<li class="active">
	           	<strong>Qualify Page</strong>
	       	</li>
	   	</ol>
    	</div>
</div>
<flash-message></flash-message>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        	<div class="col-lg-12">
            	<div class="ibox float-e-margins">
	               <div class="ibox-title">
	                   	<span style="font-size: 16px">Do you have a FNN of a service at the same location? </span>
	                   	<div class="onoffswitch tick">
                           	<input type="checkbox" name ="hasServiceNumber"
                                  ng-model="hasServiceNumber"
                                  ng-checked="hasServiceNumber==true"
                                  ng-true-value="true" ng-false-value="false"
                                  class = "onoffswitch-checkbox" id ="hasServiceNumber">
                           	<label class="onoffswitch-label" for="hasServiceNumber">
                               	<span class="onoffswitch-inner"></span>
                               	<span class="onoffswitch-switch tickswitch-switch"></span>
                           	</label>
                       	</div>
	               </div>
		          <div class="ibox-content">
		          	<div  ng-if="!hasServiceNumber">
		          		<div class="row">
	     					<div class="col-md-8">
	     						<div class= "form-group">
			                            <label for="locationReference" class="control-label col-xs-1" ng-if="!advancedShown">Search Address</label>
			                            <div class ="col-xs-11">
			                                <input class="form-control" type="text" g-places-autocomplete options="autocompleteOptions" ng-model="locationReference" ng-blur="loadAddress()" id="locationReference" ng-if="!advancedShown"/>
			                            </div>
			                        </div>
	     					</div>
	     					<div class="col-md-4">
	     						<button class="btn btn-info rate-sign-btn" type="button" ng-click="searchAddress()" ng-if="!advancedShown">Search Address</button>
			          			
	     					</div>
			      		</div>	     
			          	<!-- Search Address : <input class="form-control" type="text" places-auto-complete ng-model="vm.address" on-place-changed="placeChanged()" />
			          	<button class="btn btn-info rate-sign-btn" type="button" ng-click="qualifyAddress()">Qualify</button> -->
						<div ng-if="advancedShown">
							<!-- <form class="form-horizontal">
								<div class="row">
                    					<div class="col-md-3">
                    						<div class= "form-group">
					                            <label for ="addressInfo" class="control-label col-xs-4">Address Information</label>
					                            <div class ="col-xs-8">
					                                <input type="text" class ="form-control reAssign" id="addressInfo" ng-model="addressInfo" />
					                            </div>
					                        </div>
                    					</div>
									<div class="col-md-3">
										<div class= "form-group">
					                            <label for ="addressLevel" class="control-label col-xs-4">Level</label>
					                            <div class ="col-xs-8">
					                                <input type="text" class ="form-control reAssign" id="addressLevel" ng-model="addressLevel" />
					                            </div>
					                        </div>
                    					</div>
                    					<div class="col-md-3">
                    						<div class= "form-group">
					                            <label for ="subAddress" class="control-label col-xs-4">Sub Address Type</label>
					                            <div class ="col-xs-8">
					                                <input type="text" class ="form-control reAssign" id="subAddress" ng-model="subAddress" />
					                            </div>
					                        </div>
                    					</div>
                    					<div class="col-md-3">
                    						<div class= "form-group">
					                            <label for ="addressNumber" class="control-label col-xs-4">Number</label>
					                            <div class ="col-xs-8">
					                                <input type="text" class ="form-control reAssign" id="addressNumber" ng-model="addressNumber" />
					                            </div>
					                        </div>
                    					</div>
                    				</div>  -->
                    				<div class="row">
								<div class="col-md-4">
									<div class= "form-group">
				                            <label for ="addressStreetNumber" class="control-label col-xs-4">Street Number</label>
				                            <div class ="col-xs-8">
				                                <input type="text" class ="form-control reAssign" id="streetNumber" name="streetNumber" ng-model="address.streetNumber" />
				                            </div>
				                        </div>
                					</div>
                					<!-- <div class="col-md-3">
                						<div class= "form-group">
				                            <label for ="addressSuffix" class="control-label col-xs-4">Suffix</label>
				                            <div class ="col-xs-8">
				                                <input type="text" class ="form-control reAssign" id="addressSuffix" ng-model="addressSuffix" name="addressSuffix" />
				                            </div>
				                        </div>
                					</div> -->
                					<div class="col-md-8">
                						<div class= "form-group">
				                            <label for ="streetName" class="control-label col-xs-4"><span style="color:red">*</span> Street Name</label>
				                            <div class ="col-xs-8">
				                                <input type="text" class ="form-control reAssign required" id="streetName" name="streetName" ng-model="address.streetName" required />
				                            </div>
				                        </div>
                					</div>
                					<!-- <div class="col-md-3">
                						<div class= "form-group">
				                            <label for ="addressType" class="control-label col-xs-4">Type</label>
				                            <div class ="col-xs-8">
				                                <input type="text" class ="form-control reAssign" id="addressType" ng-model="addressType"  name="addressType"/>
				                            </div>
				                        </div>
                					</div> -->
                				</div>
                				<div class="row">
                					<div class="col-md-6">
                						<div class= "form-group">
				                            <label for ="suburb" class="control-label col-xs-2"><span style="color:red">*</span> Suburb</label>
				                            <div class ="col-xs-9">
				                                <input type="text" class ="form-control reAssign" id="suburb" ng-model="address.suburb" name="suburb"/>
				                            </div>
				                        </div>
                					</div>
								<div class="col-md-3">
									<div class= "form-group">
				                            <label for ="addressLevel" class="control-label col-xs-4"><span style="color:red">*</span> State</label>
				                            <div class ="col-xs-8">
				                                <input type="text" class ="form-control reAssign" id="state" name="state" ng-model="address.state" />
				                            </div>
				                        </div>
                					</div>
                					<div class="col-md-3">
                						<div class= "form-group">
				                            <label for ="subAddress" class="control-label col-xs-4"><span style="color:red">*</span> Postcode</label>
				                            <div class ="col-xs-8">
				                                <input type="text" class ="form-control reAssign" id="postcode" name="postcode" ng-model="address.postcode" />
				                            </div>
				                        </div>
                					</div>
                					<button class="btn btn-info rate-sign-btn" type="button" ng-click="qualifyAdvance()" ng-if="advancedShown">Qualify</button>
                					<button class="btn btn-info rate-sign-btn" type="button" ng-click="toggleAdvanced()" ng-if="advancedShown">Hide Advanced</button>
                				</div>
						</div>
						<button class="btn btn-info rate-sign-btn" type="button" ng-click="qualifyAddress()" ng-if="!advancedShown">Qualify</button>
						<button class="btn btn-info rate-sign-btn" type="button" ng-click="toggleAdvanced()" ng-if="!advancedShown">Show Advanced</button>
	          			
						<map zoom="16" center="[{{vm.positions[0].lat}},{{vm.positions[0].lng}}]" on-click="addMarker()" style="height:500px" ng-if="!advancedShown">
							<marker ng-repeat="pos in vm.positions" position="[{{pos.lat}},{{pos.lng}}]" ng-if="!advancedShown"></marker>
						</map>
					</div>
					<div ng-if="hasServiceNumber">
			          	Enter Service Number : <input class="form-control" type="text" ng-model="fnn.serviceNumber" /><button class="btn btn-info rate-sign-btn" type="button" ng-click="qualifyServiceNumber()">Qualify</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>