<!-- <link rel="stylesheet" type="text/css" href="assets/css/form.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.no-icons.min.css"> -->
<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link href="/assets/js/bower_components/ng-table-to-csv/dist/ng-table-to-csv.js">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>
<script src="/assets/js/csv-download.min.js"></script>
<script src="/assets/js/csv-download.js"></script>
<style>
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
</style>

<div class="loading" ng-show="loading">
    <img src="/assets/images/Preloader_3.gif"> 
</div>
<h1>Location Results</h1>	
<p align="right">
    <span style="color:Red;font-size: 25px">{{msg}}</span>
   <!-- <csv-download
            filename="{{data.exportFilename}}"
            label="{{data.displayLabel}}"
            column-header="data.myHeaderData"
            input-array="data.myInputArray">
    </csv-download> -->
    <a id="sqCSV" class="inline btn btn-success" ng-if="!sqCsv" href="/assets/files/sq.csv" download="sq.csv">Download</a>
    <button class="inline btn btn-success" ng-if="sqCsv" ng-click="sqCsv()">CSV</button>
    <button class="inline btn btn-success close-this-dialog" ng-click="qualifyLocationId()">Qualify</button>
    <button class="inline btn btn-success close-this-dialog" ng-click="closeThisDialog()">Close</button>
    <!-- <a class="btn" title="Export Table" ng-click='csv.generate()' ng-href="{{ csv.link() }}"
         download="aalla.csv">
        <i class="glyphicon glyphicon-new-window"></i> &#160;CSV
      </a> -->
</p>
<form name="addressForm">
    <!-- <table width="100%" class="table table-hover table-bordered">
    <tr>	
        <th></th>
        <th>Location ID</th>
        <th>Address</th>
        <th>Service Provider</th>
    </tr>
    <tr ng-repeat="(index,data) in ngDialogData" ng-class="{ new: data.qualificationResult === 'FAIL', green:  data.qualificationResult === 'PASS'}" >
    <tr ng-repeat="(index,data) in addresses">
        <td>
        	<input type="radio" class="locationId" style="opacity: 1" name="locationId"  ng-value="data"  ng-model="locationId" > 
        </td>
        <td>{{ data.locationId }}</td>
        <td>{{ data.displayAddress }}</td>
        <td>{{ data.serviceProvider }}</td>
    </tr> 
    
</table> -->
    <!-- <table  width="100%" class="table table-striped table-condensed table-hover">
        <thead>
        	<div class="col-xs-3 pull-right form-group">
            
            <input class="form-control" style=" height: 25px;" type="text"  placeholder="Search" ng-model="filterText">
        	
        	</div>
            <tr>
        	    <th></th>
                <th class="id" custom-sort order="'locationId'" sort="sort">Location Id&nbsp;</th>
                <th class="name" custom-sort order="'displayAddress'" sort="sort">Address&nbsp;</th>
                <th class="description" custom-sort order="'serviceProvider'" sort="sort">Service Provider&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <td colspan="4">
                <div class="pagination pull-right">
                    <ul>
                        <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                            ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                            <a href ng-bind="n + 1">1</a>
                        </li>
                        <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tfoot>
        <tbody>
            <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sort.sortingOrder:sort.reverse | filter:filterText">
                <td><input type="radio" style="opacity: 1" ng-model="location" name="location" ng-value="item" ng-click="showClicked(item)"></td>
                <td>{{item.locationId}}</td>
                <td>{{item.displayAddress}}</td>
                <td>{{item.serviceProvider}}</td>
            </tr>
        </tbody>
    </table> -->
    <table class="table table-striped table-bordered" name="addresses" id="addresses" datatable="ng" dt-options="vms.dtOptions" dt-instance="vms.dtInstance" width="100%" dt-column-defs="vms.dtColumnDefs">
	    <thead>
	      <tr>
	      	<th></th>
            <th>Location Id</th>
            <th>Address</th>
            <th>Service Provider</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in addresses">
	        <td><input type="radio" style="opacity: 1" ng-model="location" name="location" ng-value="item" ng-click="showClicked(item)"></td>
            <td>{{item.locationId}}</td>
            <td>{{item.displayAddress}}</td>
            <td>{{item.serviceProvider}}</td>
	      </tr>
	    </tbody>
	  </table>
</form>
<div class="container">

</div>
