<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse navbar-static-side">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <img src="assets/images/logo.png" style="width:151px;">
                             </span>
                            </span>
                    </a>
                </div>
            </li>

            <!-- <li class="active">
                <a ui-sref="proposals"><i class="fa fa-th-large"></i> <span class="nav-label">Proposal</span> <span class="fa arrow"></span></a>
            </li>-->
            <li ng-if="profile.type=='admin' || profile.type=='user'">
                <a><i class="fa fa-th-large"></i> <span class="nav-label">Proposal</span> <span class="fa arrow"></span></a> 
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="proposal"><i class="fa fa-plus-circle"></i> <span class="nav-label">Create Proposal</span></a>
                    </li>
                    <li>
                   <!--  <li ng-if="profile.type=='admin'"> -->
                          <a ui-sref="view_proposal"><i class="fa fa-list"></i> <span class="nav-label">View Proposal</span></a>
                    </li>
                </ul>
            </li>
            <li ng-if="profile.type=='admin'">
                <a><i class="fa fa-th-large"></i> <span class="nav-label">Frontier Check</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <!-- <li><a ui-sref="products">Products</a></li>
                    <li><a ui-sref="categories">Categories</a></li> -->
                    <li><a ui-sref="service_qualify">Service Qualification</a></li>
                </ul>
            </li>
            <li ng-if="profile.type=='admin'">
                <a><i class="fa fa-th-large"></i> <span class="nav-label">Catalog</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a ui-sref="rates">Rates</a></li>
                    <li><a ui-sref="products">Products</a></li>
                    <li><a ui-sref="categories">Categories</a></li>
                    <li><a ui-sref="schedule_goods">Schedule of Goods</a></li>
                </ul>
            </li>
            <!--<li  ng-if="profile.type=='admin'">
                <a><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Finance Rates</span><span class="fa arrow"></span></a>
                  <ul class="nav nav-second-level">
                    <li><a ui-sref="config">Basic Configuration</a></li>
                    <li><a ui-sref="finance_rates">Sell & Rental Prices</a></li>
                </ul>
            </li>
            <li ng-if="profile.type=='admin'">
                <a ui-sref="flexi_rent"><i class="fa fa-th-large"></i> <span class="nav-label">Flexi Rent</span></a>
            </li>
            

            <li>
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Misc Data</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                     <li>
                    <a ui-sref="companies"><i class="fa fa-envelope"></i> <span class="nav-label">Companies </span></a>
                    </li>
                    <li>
                         <a ui-sref="salesreps"><i class="fa fa-envelope"></i> <span class="nav-label">Sales Reps </span></a>
                    </li>
                   <li>
                        <a ui-sref="telemarketers"><i class="fa fa-envelope"></i> <span class="nav-label">Telemarketers </span></a>
                    </li>
                   <li>
                        <a ui-sref="winbacks"><i class="fa fa-envelope"></i> <span class="nav-label">Winbacks </span></a>
                    </li>

                    <li>
                        <a ui-sref="leadsources"><i class="fa fa-envelope"></i> <span class="nav-label">Lead Sources </span></a>
                    </li>

                </ul>
            </li> -->

              <li>
                <a><i class="fa fa-file-pdf-o"></i> <span class="nav-label">Forms</span> <span class="fa arrow"></span></a> 
                <ul class="nav nav-second-level">
                    <li>
                        <a ui-sref="forms"><i class="fa fa-plus-circle"></i> <span class="nav-label">Create Form</span></a>
                    </li>
                    <li>
                   <!--  <li ng-if="profile.type=='admin'"> -->
                          <a ui-sref="view_forms"><i class="fa fa-list"></i> <span class="nav-label">View Forms</span></a>
                    </li>
                </ul>
            </li>
            
            <li ng-if="profile.type=='admin'">
            
                <a ui-sref="users"><i class="fa fa-envelope"></i> <span class="nav-label">Users </span></a>
            </li>
            <li>            
                <a ui-sref="settings"><i class="fa fa-gear"></i> <span class="nav-label">Settings </span></a>
            </li>


        </ul>

    </div>
</nav>