<link rel="stylesheet" href="/assets/js/datatables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/assets/js/buttons.datatables.min.css"/>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Feedbacks</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Feedbacks</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="mail-box-header" style="border:none">
            <div class="pull-right"  ng-if="profile.type=='admin'">
                <a ui-sref="add_feedbacks" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top"  href="#/feedbacks/new" ng-click="save();">
                    <i class="fa fa-new"></i> Add New
                </a>
            </div>
        </div>
    </div>
</div>
    <flash-message></flash-message>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">

</div>
<div class="ibox-content">

<table datatable="ng" class="table table-striped table-bordered table-hover dataTables-example" datatable="ng" dt-options="vmfb.dtOptions" dt-instance="vmfb.dtInstance" width="100%" dt-column-defs="vmfb.dtColumnDefs">
<thead>
<tr>
    <th>#</th>
    <th>Logo</th>
    <th>Feedbacks</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th></th>
</tr>
</thead>
<tbody>
<tr class="gradeX" ng-repeat="feedback in feedbackForm">
    <td>{{feedback.id}}</td>
    <td>{{feedback.logo}}</td>
    <td>{{feedback.fb}}</td>
    <td>{{feedback.created_at}}</td>
    <td>{{feedback.updated_at}}</td>
    <td><div row-tools row_id="{{feedback.id}}"></div>
</tr>
</table>

</div>
</div>
</div>
</div>

</div>
</div>
</div>
