<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style> 
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}}" ng-repeat="(index, item) in items['fibre'] track by $index">
    <div class ="pageBreaker">
        <table style="width:100%;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
            <tr>
                <td colspan="2"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
                <td colspan="3" class="cardTitle">BUSINESS TELECOM DATA RATE CARD</td>
            </tr>
            <tr>
                <td colspan="5"> </td>
            </tr>
            <tr>
                <td colspan="5" class="planTitle">Fibre Unlimited Plan</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="5" class="planCategory">{{formData.comLocation['fibre'][index]}},{{formData.comSuburb['fibre'][index]}},{{postcode=formData.comZipCode['fibre'][index]}}</td>
            </tr>
            <tr class="plan-row">
                <td colspan="4" class="planItem"><b>{{formData.fibreUtPlans[index].description}}</b></td>
                <td colspan="1" class="planItem"><b>${{roundVal(formData.fibreUtPlans[index].price)}}</b></td>
            </tr>   
            <tr ng-if="formData.fibreUtPlans[index].price==758">
                <td colspan="4" class="planItem"><b>Installation fee for 400/400Mbps<br />(Does not include Modem supply or configuration)</b></td>
                <td colspan="1" class="planItem"><b>$2299.00</b></td>
            </tr>
            <tr>
                <td colspan="5" class="planTitle">Minimum Monthly Charges / Discounts</td>  
            </tr>
            <tr>
                <td class="discountField">Ethernet Plan Fee</td>
                <td class="discountItem"><b>${{roundVal(formData.fibreUtPlans[index].price)}}</b></td>
                <td class="discountField">Plan Discount</td>
                <td class="discountItem"><b>${{roundVal(formData.fibreDis[index])}}</b></td>
                <td class="discountField"></td>
            </tr> 
            <tr>
                <td class="discountField"></td>
                <td class="discountItem"></td>
                <td class="discountField"></td>
                <td class="discountItem"></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-bottom: 1px solid black">Term</td>
            </tr>   
            <tr>
                <td class="discountField">Total Plan Fees</td>
                <td class="discountItem"><b>${{roundVal(fibre.totalFee[index])}}</b></td>
                <td class="discountField">Total Discount</td>
                <td class="discountItem"><b>${{roundVal(fibre.discount[index])}}</b></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-top: 1px solid black">{{formData.aBillingTerm}} months</td>
            </tr>        
        </table>
        <p class="TAC">
            <p style="font-size: 11px;line-height: 1.5;font-family: Arial;margin-bottom: 0;font-weight: 600;margin-top: 10px;"><strong>Fibre Unlimited Terms and Conditions</strong><br />
            <p style="font-size: 11px;line-height: 1.5;font-family: Arial;margin-bottom: 0;font-weight: 600;margin-top: 10px;">    All Prices exclude GST.&nbsp;<strong>Minimum term on all FIBRE plans listed above is 36months. Discounts above will expire at the term of the agreement. The services noted are to be used in single end point. This service cannot be used for aggregation, and is not available to any data centres. &nbsp;Business Telecom fair use policy applies to our Fibre Unlimited plans. Business Telecom</strong> deems one (1) Gigabyte to be equivalent to 1024 Megabytes.&nbsp;<strong>Relocation of service(s) is dependent on coverage availability. Relocation fees will be charged at $4999. </strong>Fibre&nbsp;is available in selected coverage areas only and is dependent on the access technology. Fibre speeds advertised above are an Up to speed. <strong>Business Telecom</strong> provides 5 emails at $0. Any additional emails supplied can be purchased at $10 per month per 5 users. This can only be purchased in 5 user blocks. <strong>Business Telecom</strong> will provide a Mail box space of a 100MB. <strong>Business Telecom</strong> static IP defaults at one per client. Additional static IP's are charged at $8 per IP per month.&nbsp;<strong>Business Telecom will deliver the service to the site only. Your IT person is required to complete the connection of the service at your site, and the customer is liable for all and any charges associated with the use of their IT person.</strong>&nbsp;The supply of Modems, Routers or switches will incur additional charges. You will require a modem/router that has the capacity to support the bandwidth selected in this plan. <strong>Business Telecom</strong> Fibre services will require a minimum of 2RU rack space to house the fibre NTU in your comms room. <strong>Business Telecom</strong> are not responsible for the management of the modem/router on site and is the customers responsibility.&nbsp;<strong>The delivery of the above services is subject to capacity and infrastructure. &nbsp;Pricing for fibre services is subject to change upon final site inspection. In the event the price is to change, Business Telecom will advise the customer the new pricing for the customer to accept or withdraw the fibre order. Order withdrawals will incur a cost; Pre logical design will incur a cost of $99. Post Logical design will incur a cost of $599.</strong>&nbsp;Post physical design $4599. Early Termination Fees apply. Please refer to clause 15.5 of the <strong>Business Telecom</strong> Application and <a href="http://www.businesstelecom.com.au">www.businesstelecom.com.au</a> for full Terms and Conditions. Delivery time frames for this service is approx 55-75 Business Days.</p> 
        </p>
        <htmlpagefooter name='pagesFooter'>   
            <ng-include src="'templates/forms/card_footer.html'" ng-init="location=formData.comLocation['fibre'][index];suburb=formData.comSuburb['fibre'][index];postcode=formData.comZipCode['fibre'][index]"></ng-include>
        </htmlpagefooter>
    </div>
</div>