<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style> 
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}}" ng-repeat="(index, item) in items['ip_midband'] track by $index">
    <div class ="pageBreaker">
        <table style="width:100%">
            <tr>
                <td colspan="2"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
                <td colspan="3" class="cardTitle">BUSINESS TELECOM DATA RATE CARD</td>
            </tr>
            <tr>
                <td colspan="5"> </td>
            </tr>
            <tr>
                <td colspan="5" class="planTitle">Mid-band Ethernet Monthly Plan</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="5" class="planCategory">{{formData.comLocation['ip_midband'][index]}},{{formData.comSuburb['ip_midband'][index]}},{{postcode=formData.comZipCode['ip_midband'][index]}}</td>
            </tr>
            <tr>
                <td colspan="5" class="planCategory">Mid-band Plans</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="4" class="planItem"><b>{{formData.ipMidbandPlans[index].description}}</b></td>
                <td colspan="1" class="planItem"><b>${{roundVal(formData.ipMidbandPlans[index].price)}}</b></td>
            </tr>   
            <tr>
                <td colspan="5" class="planCategory">Download Allowance</td>  
            </tr>
            <tr class="plan-row">
                <td colspan='4' class="planItem">
                    <b>{{formData.ipMidbandDownload[index].description}}</b>
                </td>               
                <td colspan='1' class="planItem">
                    <b>${{roundVal(formData.ipMidbandDownload[index].price)}}</b>
                </td>
            </tr>   
            <tr>
                <td colspan="5" class="planTitle">Minimum Monthly Charges / Discounts</td>  
            </tr>
            <tr>
                <td class="discountField">Midband Plan Fee</td>
                <td class="discountItem"><b>${{roundVal(formData.ipMidbandPlans[index].price)}}</b></td>
                <td class="discountField">Plan Discount</td>
                <td class="discountItem"><b>${{roundVal(formData.ipMidbandDis[index])}}</b></td>
                <td class="discountField"></td>
            </tr> 
            <tr>
                <td class="discountField">Download Allowance</td>
                <td class="discountItem"><b>${{roundVal(formData.ipMidbandDownload[index].price)}}</b></td>
                <td class="discountField"></td>
                <td class="discountItem"></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-bottom: 1px solid black">Term</td>
            </tr>   
            <tr>
                <td class="discountField">Total Plan Fees</td>
                <td class="discountItem"><b>${{roundVal(ipMidband.totalFee[index])}}</b></td>
                <td class="discountField">Total Discount</td>
                <td class="discountItem"><b>${{roundVal(ipMidband.discount[index])}}</b></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-top: 1px solid black">{{formData.aBillingTerm}} months</td>
            </tr>        
        </table>
        <p class="TAC">
            <b>Mid-band Ethernet Terms and Conditions.</b><br />
            All Prices exclude GST. <b>Minimum term on all Mid-Band plans listed above is 36months.</b>  Business Telecom deems one (1) Gigabyte to be equivalent to 1024 Megabytes. <b>Relocation of service(s) is dependent on coverage availability.</b> Ethernet is available in selected coverage areas only and is dependent on the access technology. Business Telecom will not charge for the upload data unless your total uploaded data usage in a calendar month exceeds the total downloaded usage in the same month by more than 2.5 times. In this case, Business Telecom will charge you for each additional Megabyte or Gigabyte of traffic you upload in that month in excess of the 2.5:1 ratio at the rate of $2.50/Gigabyte. Midband speeds advertised above are an Up to speed. These speeds may vary due to a number of factors; Eg: distance from the local telephone exchange. Business Telecom provides 5 emails at $0. Any additional emails supplied can be purchased at $10 per month per 5 users. This can only be purchased in 5 user blocks. Business Telecom Australia will provide a Mail box space of a 100MB. <b>Excess Usage is charged at $0.005 per MB.</b> Business Telecom static IP defaults at one per client. Additional static IP's are charged at $8 per IP. <b>Business Telecom Australia will deliver the service to the site only. Your IT person is required to complete the connection of the Internet service at your site, and the customer is liable for all and any charges associated with the use of their IT person.</b> The supply of Modems, Routers or switches will incur additional charges.Business Telecom are not responsible for the management of the modem/router on site and is the customers responsibility Delivery of all the above services is dependent on available copper pairs on your lead in. It is the customer’s responsibility to have enough copper pairs from your MDF to your comms room. A maximum of 8 copper pairs are required is required for our Midband products. Early Termination Fees apply. Please refer to clause 15.5 of the Business Telecom Application and for full Terms and Conditions.
        </p>
        <htmlpagefooter name='pagesFooter'>   
            <ng-include src="'templates/forms/card_footer.html'" ng-init="location=formData.comLocation['ip_midband'][index];suburb=formData.comSuburb['ip_midband'][index];postcode=formData.comZipCode['ip_midband'][index]"></ng-include>
        </htmlpagefooter>
    </div>
</div>