<style>
    @page {
        sheet-size : A4;
        margin: 0%;
    }

    @page cover {
         margin-header:0mm;

    }

    div.cover {
        page-break-before: right;
        page: cover;
    }

    @page pages {
        odd-footer-name: html_pagesFooter;
        even-footer-name: html_pagesFooter;
        margin-top: 1%;
        margin-bottom: 2%;
        margin-right: 3%;
        margin-left: 3%;
        margin-footer: 3mm;
        font-family: san-serif;
    }

    div.pages {
        page: pages;
        font-family: sans-serif;
    }
</style>
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<link href = "/assets/angular/font-awesome/css/font-awesome.css" rel='stylesheet' type='text/css'>

<div class="pages cover pageBreaker">
    <div class="row">
        <br><br><br><br>
    </div>
     <table class="full-width">
        <tr>
            <td  class="spec-center"  colspan="6" >
                <img src="assets/images/forms/alarm_header.png" style="width: 90%">
            </td>
        </tr>
    </table>
    <div class="row">
        <br><br><br><br>
    </div>
    <table class="full-width table-border-outside">
        <tr>
            <td colspan="3" style="text-align: center;"><h1>Alarm Monitoring Agreement</h1></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black">Company Name : <b>{{formData.cName}}</b></td>
            <td style="border: 1px solid black">ABN : <b>{{formData.cAbn}}</b></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black">Trading Name : <b>{{formData.cTrading}}</b></td>
            <td style="border: 1px solid black">Contact : <b>{{formData.cContact}}</b></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black">Address : <b>{{formData.cAddress}}, {{formData.cSuburb}}, {{formData.cState}}, {{formData.cPostCode}}</b></td>
            <td style="border: 1px solid black">Representative : <b>{{formData.dName}}</b></td>
        </tr>
        <tr>
            <td style="border: 1px solid black">Telephone : <b>{{formData.cTel}}</b></td>
            <td style="border: 1px solid black">Email : <b>{{formData.cEmail}}</b></td>
            <td style="border: 1px solid black">Mobile : <b>{{formData.cMobile}}</b></td>
        </tr>
        <tr>
            <td colspan="3" style="border: 1px solid black">Installation Address : <b>{{formData.pIAddress}}, {{formData.pISuburb}}, {{formData.pIState}}, {{formData.pIPostcode}}</b></td>
        </tr>
    </table>
    <div class="row">
        <br><br><br><br>
    </div>
    <table class="full-width">
        <tr>
            <td colspan="3" style="text-align: right">
               <img src="assets/images/forms/asial.png" />
            </td>
        </tr>
    </table>

</div>
<div class="pages pageBreaker">
<!--     <h4 class="redText text-center" style="padding-top: 20px; margin-bottom: 0;">Alarm Monitoring Service Agreement</h4>
    <h4 class="text-center">Advanced Monitoring Solution</h4> -->
    <table width="100%">
        <p class="spec-right"><img src="assets/images/omni.png"></p>
        <tr>
            <td colspan="3" class="redText" style="text-align: center;">Alarm Monitoring Service Agreement</td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black">Company Name : <b>{{formData.cName}}</b></td>
            <td style="border: 1px solid black">ABN : <b>{{formData.cAbn}}</b></td>
        </tr>
        <tr>
            <td colspan="3" style="border: 1px solid black">Address : <b>{{formData.cAddress}}, {{formData.cSuburb}}, {{formData.cState}}, {{formData.cPostCode}}</b></td>
        </tr>
        <tr>
            <td>
                <span>Transaction Details - <b>{{formData.transactionDetails}}</b></span>
            </td>
            <td>
                <span>Monitored Services - <b>{{formData.monitoredServices}}</b></span>
            </td>
        </tr>
        <tr>
            <td>
                <span>Hardware Installed - <b>{{formData.hardwareInstalled}}</b></span>
            </td>
            <td>
                <span>Existing Panel Type - <b>{{formData.panelType}}</b></span>
            </td>
        </tr>
    </table>
    <table class="full-width table-border-outside">
        <tbody>
            <tr>
                <td colspan="2" class="redText">FIXED MONTHLY CHARGES</td>
            </tr>
            <tr>
                <td >{{formData.alarmPlans.description}}</td>
                <td><b>${{formData.alarmPlans.price}} per month</b></td>
            </tr>
            <tr>
                <td>Agreement Term (Min Term 36 months)</td>
                <td>{{formData.aTerm}} Months</td>
            </tr>
        </tbody>
    </table>
    <table class="full-width table-border-outside">
        <tbody>
            <tr>
                <td class="redText" colspan="2">Service</td>
            </tr>
            <tr ng-if="formData.alarmPlans.price==89">
                <td>Professional Technician installation of MPM device</td>
                <td>Included</td>
            </tr>
            <tr>
                <td>Monitoring Centre including hourly test calls</td>
                <td>Included</td>
            </tr>
            <tr>
                <td>Access to remote Activate/Deactivate alarm</td>
                <td>Included</td>
            </tr>
            <tr>
                <td>Communications Network Charges</td>
                <td>Included</td>
            </tr>
            <tr>
                <td rowspan="2" valign="middle">Patrol Response*</td>
                <td>$ 75 for first 20 Minutes<br>($ 15 for each subsequent 15 minutes)</td>
            </tr>
        </tbody>
    </table>
    <!-- <table class="full-width config-table table-border-outside">
        <tbody>
            <tr>
                <td colspan="2">SALE / INSTALLATION CHARGES</td>
            </tr>
            <tr>
                <td>NBN/ 3G Wireless Unit, including installation RRP $899 (ex GST)</td>
                <td class="form-data">Included</td>
            </tr>
        </tbody>
    </table> -->
    <div ng-if="formData.aPaymentMethod=='Existing Account'">
        <table class="full-width">
            <tr>
                <td colspan="2"><span class="redText"><b>Add to Existing Business Telecom Account</b></span></td>
            </tr>
            <tr>
                <td>Account Number : <b>{{formData.existsAccNumber}}</b></td>
                <td>Account Name : <b>{{formData.existsAccName}}</b></td>
            </tr>
        </table>
        <p>I hereby authorise Business Telecom to add the changes associated with the Omniview Monitoring service to my Business Telecom account.</p>
        <table class="full-width">
            <tr>
                <td>Signature : </td>
                <td class="item-text signature signatureImg signItem"
                    id ="authorize-sig" ng-click='sign("authorize-sig")'>
                     <b class='greenText'>
                         <span ng-if="isSigned('authorize-sig')" ng-bind="getSignTime('authorize-sig')"></span>
                         <span ng-if="!isSigned('authorize-sig')">Representative Signature here</span>
                     </b>
                </td>
                <td>Name : <b>{{formData.dSName}}</b></td>
                <td>Date : <b>{{formData.dateVal}}</b></td>
            </tr>
        </table>
    </div>
    <p class="TAC"><span class="redText"><b>CUSTOMER ACCEPTANCE :</b></span> I am authorised to sign this Agreement on behalf of the Customer: (a) I have
read and accepted the standard Terms and Conditions of the Alarm Monitoring Service Agreement (b) have
received statements/notices as prescribed by the law; (c) promise that the Customer and Payment details
disclosed are correct; (d) authorise the collection, use and disclosure of any information obtained in
connection with this Agreement for commercial purposes; (e) agree that the ASIAL Member may subcontract
the Monitoring Service to another Firm Licensee; (f) agree that a commission may be paid to any person who
introduces the Customer. The Australian Security Industry Association Limited ABN 91 000 813 365 (“ASIAL”)
is not a party to this Agreement. I/We acknowledges that ASIAL is under no obligation to provide any service
to Customer. ASIAL is not responsible for any act or omission of an ASIAL member. This Agreement is subject
to the laws of Australia. All pricing noted excludes GST.</p>
    <p>I have read and accepted the standard Terms and Conditions of the Alarm Monitoring Service Agreement.</p>
    <table class="full-width">
        <tr>
            <td>Authorised Customer Representative:</td>
            <td class="form-data"><b>{{formData.dName}}</b></td>
            <td rowspan="2">Signature:</td>
            <td rowspan="2" class="item-text signature signatureImg signItem"
                id ="monitoring-rep-sg" ng-click='sign("monitoring-rep-sg")'>
                 <b class='greenText'>
                     <span ng-if="isSigned('monitoring-rep-sg')" ng-bind="getSignTime('monitoring-rep-sg')"></span>
                     <span ng-if="!isSigned('monitoring-rep-sg')">Representative Signature here</span>
                 </b>
            </td>
        </tr>
        <tr>
            <td>Position:</td>
            <td class="form-data"><b>
               <span ng-if="formData.cPosition=='Director'">Director</span>
               <span ng-if="formData.cPosition=='Partner'">Partner</span>
               <span ng-if="formData.cPosition=='Owner'">Owner</span>
               <span ng-if="formData.cPosition=='Sec. Manager'">Sec. Manager</span>
               <span ng-if="formData.cPosition==''"></span>
            </b></td>
        </tr>
        <tr>
            <td>Omniview Monitoring Representative:</td>
            <td class="form-data"><b>{{formData.wName}}</b></td>
            <td rowspan="2">Signature:</td>
            <td rowspan="2" class="item-text signature signatureImg signItem"
                id ="billing-wit-sg" ng-click='sign("billing-wit-sg")'>
                 <b class='greenText'>
                     <span ng-if="isSigned('billing-wit-sg')" ng-bind="getSignTime('billing-wit-sg')"></span>
                     <span ng-if="!isSigned('billing-wit-sg')">Representative Signature here</span>
                 </b>
            </td>
        </tr>
        <tr>
            <td>Date:</td>
            <td class="form-data"><b>{{formData.dateVal}}</b></td>
        </tr>
    </table>
    <p class="TAC">PRIVACY CLAUSE: Personal Information is collected for the primary purpose of processing orders and providing the Monitoring Service. It is never sold or rented. Customer may withdraw consent at any time in
    writing. If a written Privacy Policy is required by law, a copy of the policy may be obtained by contacting the
    Monitoring Company.</p>
</div>
<pagebreak>
<div class="pages pageBreaker" style="padding: 10px;">
    <p align="right"><img src="assets/images/omni.png"></p>
    <p class="config-large-text redText" style="margin-bottom: 0;">Alarm monitoring Terms and conditions</p>
    <table class="full-width" >
        <tr>
            <td width="33%">
                <p>
                    <b>1.DEFINITIONS & INTERPRETATION</b>
                    “Alarm” means the alarm system installed in the alarmed premises described in the Commissioning Sheet. “Commissioning Sheet” means the written instructions from Customer to the ASIAL Member detailing equipment response procedures and Customer’s voice codes or passwords. “Monitoring Service” means around-the-clock monitoring of the Alarm for alarm signals and, if selected by the Customer, opening and closing signals and/or other security services. “Term” means the period selected by the Customer overleaf commencing from the day the Monitoring Service is ﬁrst provided after the expiration of the cooling-off period. This Agreement will be interpreted so as to be consistent with the law and should any provisions of the Agreement be inconsistent with the law, then the same shall be severed so as to permit the balance of the Agreement to operate to the fullest extent permitted by law.
                </p>
                <p>
                    <b>2. MONITORING SERVICE</b>
                    The Member agrees to use due care and skill or use due care and skill to choose a subcontractor to provide the Monitoring Service during the Term for alarm signals and/or other recurring services selected by the Customer. The Customer acknowledges that the Member does not warrant that the Monitoring Service will render the alarmed premises or any occupant of the alarmed premises secure. The Member will action alarm signals emanating from the Alarm in accordance with the Commissioning Sheet. The Member will use its best endeavours to engage a patrol response contractor to provide a timely response to actionable alarm signals, however, makes no warranty that patrol response will be available at any time, if at all. The Member will not be liable for any loss or damage the Customer may suffer in connection with any response or the absence of any Alarm response. The Customer acknowledges that independent contractors, where available, may provide patrol response. Accordingly, patrol response fees may vary from area to area and during the course of the Term. The Customer agrees to promptly pay or reimburse the Member for patrol response fees, which may include an administration fee. The Member will advise the Customer of applicable patrol response fees upon request by the Customer. The Customer agrees that the Monitoring Service provider may record all telephone conversations or other communications with the monitoring centre. The Member discloses that any providers of a monitoring service may receive a rebate from the telephone service provider.
                </p>
            </td>
            <td width="33%">
                <p>
                    <b>3. CUSTOMERS’ RESPONSIBILITIES</b>
                     The Customer will immediately advise the Member, in writing, of any changes to the Commissioning Sheet. The Customer will at their cost maintain the Alarm in good working order in accordance with manufacturer’s requirements, including recharging or replacing batteries on a timely basis. The obligations of the Member to provide the Monitoring Service and to action alarm signals are conditional upon the Alarm being operational, in accordance with the manufacturer’s requirements, to the satisfaction of the Member. The Customer will ensure that all voice codes, passwords, radio keys and other security devices are kept secure and provided only to those persons who reasonably require access to the alarmed premises. The Customer cannot transfer or try to transfer the right to receive the Monitoring Service or any other right under this Agreement to anyone else. The Member may transfer any of its rights under this Agreement
                </p>
                <p>
                    <b>4. MONITORING SERVICE CHARGES</b>
                    The Customer will pay the Member the monitoring fees by the method selected by the Customer overleaf. The Member will not process the payment of the ﬁrst period’s monitoring fee until after the expiration of any applicable cooling-oﬀ period. Where payment by credit card is selected, the Member will arrange for the credit card provider to debit the Customer’s account as instructed by the Customer overleaf. Where payment by invoice is selected, the Customer will pay invoiced amount within 14 days of the date of the invoice. Where the Monitoring Service has been subcontracted, the ASIAL Member shall provide the Customer with particulars of the subcontractor required by any relevant legislation.The monitoring fee may increase at any time providing the Customer receives three– (3) months’ written notice. The Customer will pay on demand any goods and services tax (“GST” or “other”) payable in respect of any services provided to the Customer pursuant to this Agreement. The Customer will pay on demand a fee of $25.00, to cover bank and/or administration charges, whenever a monitoring fee is not paid as and when due. The Member may collect this fee directly from the Customer or may act with the Customer’s credit card provider or Financial Institution to collect the fee.
                </p>
            </td>
            <td width="33%">
                <p>
                    <b>5. TERMINATION</b>
                     Upon expiration of the Term, this Agreement will continue on a month-to-month basis subject to termination by either party with one month’s written notice. The Member, at its discretion, may immediately suspend the Monitoring Service or terminate this Agreement where the Customer does not pay any fee or other money payable by the Customer when due, or  therwise breaches any of the Customer’s obligations under this Agreement. On termination of this Agreement by the Member, the Customer’s right to receive the Monitoring Service will cease and: The Customer will immediately pay to the Member all amounts due by the Customer for the Term; and The Member may recover from the Customer the amount of any direct loss or damage sustained as a result of the termination. On termination of the Monitoring Service, it is the Customer’s responsibility to ensure that an alternative service is arranged if required, and the panel is deprogrammed to stop reporting to the Member thus ensuring all communication costs are cancelled. Any signals received after the termination of the Monitoring Service will not be treated as critical and would not be actioned by the Member
                </p>
                <p>
                    <b>6. INDEMNITIES AND LIMITATION OF ANY LIABILITY ACKNOWLEDGEMENT</b>
                     The Member or its subcontractor shall not be liable for any indirect or consequential loss or damage which the Customer may suffer, whether arising from the Member’s or Subcontractor’s negligence or otherwise resulting from: Any cause whatever, including provision of or failure to provide the Monitoring Service; or The Customer’s use of or reliance upon the Monitoring Service including patrol response. The liability of the Member (if any) in connection with this Agreement (including liability for negligence) is limited to the cost of supplying the Monitoring Service again. The Member or any subcontractor is not liable for any loss or damage the Customer may suffer if the Member cannot do what it has promised because of events beyond its reasonable control. Clause 6 survives termination of this Agreement
            </td>
        </tr>
    </table>
</div>