<style>
    @page {
        sheet-size : A4;
        margin: 4%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
</style> 
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<div class="preview-{{index}}" ng-repeat="(index, item) in items['nbnUnlimited'] track by $index">
    <div class ="pageBreaker">
        <table style="width:100%;font-family: Arial;margin-bottom: 0;font-weight: 600;">
            <tr>
                <td colspan="2"><img  width = 250 height = 70 src ="assets/images/logo.png" ></td>
                <td colspan="3" class="cardTitle">BUSINESS TELECOM DATA RATE CARD</td>
            </tr>
            <tr>
                <td colspan="5"> </td>
            </tr>
            <tr>
                <td colspan="5" class="planTitle">NBN Unlimited Plan</td>  
            </tr>
            <tr class="plan-row">
                <td colspan="5" class="planCategory">{{formData.comLocation['nbnUnlimited'][index]}},{{formData.comSuburb['nbnUnlimited'][index]}},{{postcode=formData.comZipCode['nbnUnlimited'][index]}}</td>
            </tr>
            <tr class="plan-row">
                <td colspan="4" class="planItem"><b>{{formData.UnlimitedPlans[index].description}}</b></td>
                <td colspan="1" class="planItem"><b>${{roundVal(formData.UnlimitedPlans[index].price)}}</b></td>
            </tr>
            <tr class="plan-row" ng-if="nbnUnlimitedPlans.analoguePrice[index]!=0">
                <td colspan='4' class="planItem">
                    <b>Analogue ATA Line <br />($39.95 p/mnth per line)</b>
                </td>               
                <td colspan='1' class="planItem">
                    <b>${{roundVal(nbnUnlimitedPlans.analoguePrice[index])}}</b>
                </td>
            </tr>   
            <tr>
                <td colspan="5" class="planTitle">Minimum Monthly Charges / Discounts</td>  
            </tr>
            <tr>
                <td class="discountField">NBN Unlimited Plan Fee</td>
                <td class="discountItem"><b>${{roundVal(formData.UnlimitedPlans[index].price)}}</b></td>
                <td class="discountField">Plan Discount</td>
                <td class="discountItem"><b>${{roundVal(formData.nbnUnlimitedDis[index])}}</b></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-bottom: 1px solid black">Term</td>
            </tr> 
            <tr ng-if="nbnUnlimitedPlans.analoguePrice[index]!=0">
                <td class="discountField">Analogue ATA Line Fee</td>
                <td class="discountItem"><b>${{roundVal(nbnUnlimitedPlans.analoguePrice[index])}}</b></td>
                <td class="discountField">Analogue Discount</td>
                <td class="discountItem"><b>${{roundVal(formData.voiceCompAnalougeDisNBNUnli[index])}}</b></td>
                <td class="discountField"></td>
            </tr>   
            <tr>
                <td class="discountField">Total Plan Fees</td>
                <td class="discountItem"><b>${{roundVal(nbnUnlimitedPlans.totalFee[index])}}</b></td>
                <td class="discountField">Total Discount</td>
                <td class="discountItem"><b>${{roundVal(nbnUnlimitedPlans.discount[index])}}</b></td>
                <td class="discountField" style="text-align:center;border : 1px solid white;border-top: 1px solid black">{{formData.aBillingTerm}} months</td>
            </tr>        
        </table>
        <p class="TAC">
            <p style="font-size: 11px;line-height: 1.5;font-family: Arial;margin-bottom: 0;font-weight: 600;margin-top: 10px;"><strong>NBN Unlimited Terms and conditions</strong></p>
            <p style="font-size: 11px;line-height: 1.5;font-family: Arial;margin-bottom: 0;font-weight: 600;margin-top: 10px;">All Prices exclude GST. <strong>NBN&nbsp; connection fee is $49. NBN Installation fee of $300 will apply to Greenfields sites, new development sites and for subsequent installs.(These fees are charged by NBN directly and Business Telecom in turn pass this charge onto the end user. Please refer to <a href="http://www.nbnco.com.au">www.nbnco.com.au</a> for further details) </strong>Business Telecom fair use policy applies to our NBN Unlimited plans. <strong>Minimum term on all NBN plans listed above is 36 months. NBN Speed change fee is $29.95. Additional Static IPs can be purchased for a fee of $5 per month per additional static IP. Delivery of the above services is all Subject to capacity and available infrastructure. All Plan discounts expire at the end of the term. </strong>NBN plans advertised above are an <strong>Up to speed</strong> and factors such as NBN technology, Hardware, Number of users, Software, distance from the node, WIFI signal interference, network congestion, content being accessed and software will impact the speed. Business Telecom provides 5 emails at $0. Any additional emails&nbsp; supplied can be purchased at $10 per month per 5 users. Business Telecom will provide a Mail box space of a 100MB. Business Telecom will deliver the NBN service to the site only. It is the customers&rsquo; responsibility to have their IT person to complete the connection of the NBN service at your site, and the customer is liable for all and any charges associated with the use of their IT person.&nbsp; It is the customers&rsquo; responsibility for all internal cabling. Business Telecom are not responsible for the management of the modem/router on site and is the customers responsibility. Early Termination Fees apply. Please refer to clause 15.5 of the Business Telecom Application. Please visit <a href="http://www.businesstelecom.com.au">www.businesstelecom.com.au</a> for full Terms and Conditions. All lines delivered&nbsp; via ATA or UNI V will be charged at <strong>$39.95 per month. Calls made from ATA lines are charged at the following rates; 10 cents fixed per Local call, 25 cents per minute for calls to Australian Mobiles, 12 cents per minute for National calls. Note that International calls, National calls and calls to Australian mobiles attract a 10 cent flag fall per call. Calls to 13/1300 services are charged at $0.45 per call. </strong></p>
        </p>
        <htmlpagefooter name='pagesFooter'>   
            <ng-include src="'templates/forms/card_footer.html'" ng-init="location=formData.comLocation['nbnUnlimited'][index];suburb=formData.comSuburb['nbnUnlimited'][index];postcode=formData.comZipCode['nbnUnlimited'][index]"></ng-include>
        </htmlpagefooter>
    </div>
</div>