<style>
    @page {
        sheet-size : A4;
        margin: 1%;   
        odd-footer-name: html_pagesFooter;
    }           
    
    div.pages {
        page: pages;
    } 
    .td{
        font-size: 13px;padding-left: 6px;
    }
    .align-right{
        text-align: right;padding-right: 8px;
    }
</style>
<link href = "assets/css/form.css" rel='stylesheet' type='text/css'>
<link href = "assets/angular/font-awesome/css/font-awesome.css" rel='stylesheet' type='text/css'>
<div class="pageBreaker">
    <table style="width:100%;font-family: 'Helvetica',sans-serif">
        <tr>
            <td colspan="2">
                <img style="width: 100%" src="assets/images/newnexgen.jpg">
            </td>
        </tr>
        <tr>
            <td>
                <table style="line-height: 1.3">
                    <tr>
                        <td style="font-size:15px;padding-left: 90px;padding-bottom:0px;padding-top:4px;font-family: 'Helvetica',sans-serif">
                            <b>Order Number</b> 
                        </td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">:</td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:4px;font-family: 'Helvetica',sans-serif">{{orderNumberDate()}}{{orderNumberComp()}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:15px;padding-left: 90px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">
                            <b>Company Name</b>
                        </td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">:</td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">{{formData.cName}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:15px;padding-left: 90px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">
                            <b>Sales Person</b>
                        </td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">:</td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">{{user}}</td>
                    </tr>
                    <tr>
                        <td style="font-size:15px;padding-left: 90px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">
                            <b>Date</b>
                        </td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">:</td>
                        <td style="font-size:15px;padding-bottom:0px;padding-top:0px;font-family: 'Helvetica',sans-serif">{{getCurrentDateMin()}}</td>
                    </tr>
                </table>
            </td>
        </tr>
            <tr>
                <td style="font-size: 20px;height: 33px;padding-top: 22px;padding-left:90px; ">
                    <span style="font-size: 20px;color:#e31e25;">Schedule of Goods</span>
                </td>
                <td style="font-size: 20px;height: 33px;padding-top: 22px;padding-left:14px; ">
                    <span style="font-size: 20px;color:#e31e25;">Services</span>
                </td>
            </tr>           
        <tr>
            <td style="padding-left: 76px;padding-right: 45px;padding-top: 0px !important;padding-bottom: 0px !important">
                <table style="width: 100%;" class="dataTable"  ng-repeat="(index, item) in items['schedule_of_goods'] track by $index">
                    <tr>
                        <th width="85%" style="font-size: 15px;color: white;padding-left: 6px;background-color: #e31e25;height: 21px !important">Description</th>
                        <th width="15%" style="font-size: 15px;color: white;background-color: #e31e25;text-align: right;padding-right: 8px;height: 21px !important">Qty</th>
                    </tr>
                    <tr style="text-align: left;" data-ng-repeat='schItem in formData.schItems[index]'>
                        <td style="font-size: 13px;padding-left: 6px;">{{formData.schOption[index][schItem.count].item}}</td>
                        <td style="text-align: right;padding-right: 8px;font-size: 13px;padding-left: 6px;">{{formData.schQty[index][schItem.count]}}</td>
                    </tr>
                    <tr style="text-align: left;" data-ng-repeat='schAddItem in formData.schAddItems[index]'>
                        <td style="font-size: 13px;padding-left: 6px;">{{formData.schAddOption[index][schAddItem.count]}}</td>
                        <td style="text-align: right;padding-right: 8px;font-size: 13px;padding-left: 6px;">{{formData.schAddOptionQty[index][schAddItem.count]}}</td>
                    </tr>
                </table>
            </td>
            <td  style="padding-left: 0px;padding-right: 76px;padding-top: 0px !important;padding-bottom: 0px !important">
                <table style="width: 100%;" class="dataTable">
                    <tr>
                        <th width="85%" style="font-size: 15px;color: white;padding-left: 6px;background-color: #e31e25;height: 21px !important;">Description</th>
                        <th width="15%" style="font-size: 15px;color: white;background-color: #e31e25;text-align: right;padding-right: 8px;height: 21px !important;">Qty</th>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['nbf_cap'] track by $index" ng-if="formData.type.voiceCap == true">
                        <td class="td">Busines Focus Cap Channels</td>
                        <td class="align-right td">{{formData.voiceStd[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceCap == true && formData.voiceFaxToEmail[index]==true">
                        <td ng-if="formData.voiceFaxQty[index]>0" class="td">Fax to Email</td>
                        <td ng-if="formData.voiceFaxQty[index]>0" class="align-right td">{{formData.voiceFaxQty[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceCap == true && formData.dID[index]" ng-repeat-end>
                        <td class="td">Direct In Dial</td>
                        <td class="align-right td">{{formData.dID[index]}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['nbf_std'] track by $index" ng-if="formData.type.focusStandard == true">
                        <td class="td">Business Focus Standard Channels</td>
                        <td class="td align-right">{{formData.voiceStdChannel[index]}}</td> 
                    </tr>
                    <tr ng-if="formData.type.focusStandard == true && formData.voiceStdFaxToEmail[index]==true">
                        <td ng-if="formData.voiceStdFaxQty[index]>0" class="td">Fax to Emails</td>
                        <td ng-if="formData.voiceStdFaxQty[index]>0" class="align-right">{{formData.voiceStdFaxQty[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.focusStandard == true && voiceStd.sDID[formData.voiceStdDID[index]]>0" ng-repeat-end>
                        <td class="td">Direct In Dial</td>
                        <td class="td align-right">{{formData.voiceStdDID[index]}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['voice_comp'] track by $index" ng-if="formData.type.completeOffice == true && formData.voiceCompAnalouge[index]">
                        <td class="td">Office Analouge</td>
                        <td class="td align-right">{{formData.voiceCompAnalouge[index]}}</td>
                    </tr>
                    <tr ng-if="formData.voiceCompBri[index]>0 && formData.type.completeOffice == true">
                        <td class="td">Office Bri</td>
                        <td class="td align-right">{{formData.voiceCompBri[index]}}</td>
                    </tr>
                    <tr ng-if="formData.voiceCompPri[index]>0 && formData.type.completeOffice == true">
                        <td class="td">Nexgen Office PRI</td>
                        <td class="td align-right"> {{formData.voiceCompPri[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.completeOffice == true && formData.voiceCompFaxToEmail[index] == true">
                        <td class="td" ng-if="formData.voiceCompFaxToEmail[index]>0">Fax To Emails</td>
                        <td class="td align-right">{{formData.voiceCompFaxQty[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.completeOffice == true && voiceComp.cDID[formData.voiceCompDID[index]]>0" ng-repeat-end>
                        <td ng-if="voiceComp.cDID[formData.voiceCompDID[index]] == 49.95" class="td">Direct in Dial</td>
                        <td class="td align-right">{{formData.voiceCompDID[index]}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['voice_solution_untimed'] track by $index" ng-if="formData.type.voiceUt == true">
                        <td class="td">Business Solution Untimed Channels</td>
                        <td class="align-right td">{{formData.voiceUntimedChannel[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceUt == true && formData.voiceUntimedFaxToEmail[index]==true">
                        <td class="td" ng-if="formData.voiceUntimedFaxQty[index]>0">Fax To Emails</td>
                        <td class="td align-right" ng-if="formData.voiceUntimedFaxQty[index]>0">{{formData.voiceUntimedFaxQty[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceUt == true && formData.voiceUntimedDID[index]>0" ng-repeat-end>
                        <td class="td">Direct In Dials</td>
                        <td class="td align-right">{{formData.voiceUntimedDID[index]}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['voice_solution_standard'] track by $index" ng-if="formData.type.voiceSolution == true && formData.voiceSolutionChannel[index]>0">
                        <td class="td">Business Solution Standard Channels</td>
                        <td class="td align-right">{{formData.voiceSolutionChannel[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceSolution == true && formData.voiceSolutionFaxToEmail[index] == true">
                        <td ng-if="formData.voiceSolutionFaxQty[index]>0" class="td">Fax to Emails</td>
                        <td ng-if="formData.voiceSolutionFaxQty[index]>0" class="td align-right">{{formData.voiceSolutionFaxQty[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceSolution == true && formData.voiceSolutionDID[index]>0" ng-repeat-end>
                        <td class="td">Direct In Dial</td>
                        <td class="td align-right">{{formData.voiceSolutionDID[index]}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['voice_essentials_cap'] track by $index" ng-if="formData.type.voiceEssential == true && formData.voiceEssentialChannel[index]>0">
                        <td class="td">Business Essential Standard Channels</td>
                        <td class="td align-right">{{formData.voiceEssentialChannel[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceEssential == true && formData.voiceEssentialDID[index]">
                        <td class="td">Direct In Dial</td>
                        <td class="align-right td">{{formData.voiceEssentialDID[index]}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceEssential == true && formData.ipMidbandPlansVoice[index].price>0">
                        <td class="td">Monthly Midband Plans</td>
                        <td class="td align-right">{{formData.ipMidbandDis.length}}</td>
                    </tr>
                    <tr ng-if="formData.type.voiceEssential == true && formData.ipMidbandDownloadVoice[index].price>0" ng-repeat-end>
                        <td class="td">Midband Download Allowance</td>
                        <td class="td align-right">{{formData.ipMidbandDis.length}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['data_adsl'] track by $index" ng-if="formData.type.adsl2 == true && formData.adsl2Plans[index].price>0">
                        <td class="td">ADSL 2+ Monthly Plan</td>
                        <td class="td align-right">{{formData.adsl2Dis.length}}</td>
                    </tr>
                    <tr ng-if="formData.type.adsl2 == true && formData.voiceCompAnalougeDSL[index]>0" ng-repeat-end>
                        <td class="td">Office Analogue</td>
                        <td class="td align-right">{{formData.voiceCompAnalougeDSL[index]}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['nbnUnlimited'] track by $index" ng-if="formData.type.nbnUnlimitedPlans == true && formData.UnlimitedPlans[index].price>0">
                        <td class="td">NBN Unlimited Plans</td>
                        <td class="td align-right">{{formData.nbnUnlimitedDis.length}}</td>
                    </tr>
                    <tr ng-if="formData.type.nbnUnlimitedPlans == true && formData.voiceCompAnalougeNBNUnli[index]>0" ng-repeat-end>
                        <td class="td">Analogue ATA Line</td>
                        <td class="td align-right">{{formData.voiceCompAnalougeNBNUnli[index]}}</td>
                    </tr>
                    <tr ng-repeat-start="(index, item) in items['ip_midband'] track by $index" ng-if="formData.type.ipMidband == true && formData.ipMidbandPlans[index].price>0">
                        <td class="td">Midband Monthly Plans</td>
                        <td class="td align-right">{{formData.ipMidbandDis.length}}</td>
                    </tr>
                    <tr ng-if="formData.type.ipMidband == true && formData.ipMidbandDownload.price[index].price>0" ng-repeat-end>
                        <td class="td">Download Allowance</td>
                        <td class="td align-right">{{formData.ipMidbandDis.length}}</td>
                    </tr>
                    <tr ng-repeat="(index, item) in items['ip_midbandunli'] track by $index" ng-if="formData.type.ipMidbandUnli == true && formData.ipMidbandUnliPlans[index].price>0">
                        <td class="td">Midband Unlimited Plan</td>
                        <td class="td align-right">{{formData.ipMidbandUnliDis.length}}</td>
                    </tr>
                    <tr ng-repeat="(index, item) in items['fibre'] track by $index" ng-if="formData.type.fibre == true && formData.fibreUtPlans[index].price>0">
                        <td class="td">Fibre Unlimited Monthly Plan</td>
                        <td class="td align-right">{{formData.fibreDis.length}}</td>
                    </tr>
                    <tr ng-repeat="item in configMobPort track by $index" ng-if="formData.type.telstraUntimed == true && item.confPatPlan.price>0 ">
                        <td class="td">Telstra 4g Rate Plan</td>
                        <td class="td align-right">{{formData.telstraUntimedDis.length}}</td>
                    </tr>
                    <tr ng-repeat="item in configMobPort track by $index" ng-if="formData.type.telstraUntimed == true && item.boltOn.price>0">
                        <td class="td">Bolt on {{item.boltOn.memory}}</td>
                        <td class="td align-right">{{formData.telstraUntimedDis.length}}</td>
                    </tr>
                    <tr ng-repeat="(index, item) in items['telstraWireless'] track by $index" ng-if="formData.type.telstraWireless == true && formData.telstraWirelessPlans[index].price>0">
                        <td class="td">Telstra Wireless Monthly Plan</td>
                        <td class="td align-right">{{formData.telstraWirelessDis.length}}</td>
                    </tr>
                    <tr ng-repeat="(index,item) in mobile4GUntimedPlans track by $index" ng-if="formData.type.mobileUt == true && mobile_4G_Untimed_Calls[index].price>0">
                        <td class="td">Mobile Untimed Rate Plan</td>
                        <td class="td align-right">{{formData.mobileUtDis.length}}</td>
                    </tr>
                    <tr ng-repeat="(index, item) in items['1300'] track by $index">
                        <td class="td" ng-if="formData.qt1300new[index] && formData.rate131300.qt1800[index] ">New 1800</td>
                        <td class="td" ng-if="!formData.qt1300new[index] && formData.rate131300.qt1800[index]">Existing 1800</td>
                        <td class="td align-right" ng-if="formData.rate131300.qt1800[index]">{{formData.rate131300.qt1800[index]}}</td>
                    </tr>
                    <tr ng-repeat="(index, item) in items['1300'] track by $index">
                        <td class="td" ng-if="formData.qt1800new[index] && formData.rate131300.qt1300[index]">New 1300</td>
                        <td class="td" ng-if="!formData.qt1800new[index] && formData.rate131300.qt1300[index]">Existing 1300</td>
                        <td class="td align-right" ng-if="formData.rate131300.qt1300[index]">{{formData.rate131300.qt1300[index]}}</td>
                    </tr>
                    <tr ng-repeat="(index, item) in items['1300'] track by $index">
                        <td class="td" ng-if="formData.qt13new[index] && formData.rate131300.qt13[index]">New 13</td>
                        <td class="td" ng-if="!formData.qt13new[index] && formData.rate131300.qt13[index]">Existing 13</td>
                        <td class="td align-right" ng-if="formData.rate131300.qt13[index]">{{formData.rate131300.qt13[index]}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 137px;padding-right: 111px">
                <table style="width: 90%">
                    <td colspan="2" style="background-color: #518ac7f7;color: white;text-align: center;padding-top: 7px;border-radius: 5px 5px 5px 5px;font-size: 13px;padding-bottom: 7px;">
                        <b>Equipment Monthly Payment - {{formData.aPayment}}
                        </b>
                    </td>
                </table>
            </td>
            <td style="padding-right: 0px">
                <table style="width:80%">
                    <td width="50%" style="background-color: #518ac7f7;color: white;text-align: center;padding-top: 7px;border-radius: 5px 5px 5px 5px;font-size: 13px;padding-bottom: 7px;">
                        <b>Service Monthly Payment - ${{formData.totalServiceAmount | number:0}}</b>
                    </td>
                    <td width="5%"></td>
                    <td width="50%" style="background-color:#8bc63e;color: white;text-align: center;padding-top: 7px;border-radius: 5px 5px 5px 5px;font-size: 13px;padding-bottom: 7px;">
                        <b>Maximum Monthly Discounts - ${{formData.totalServiceDiscount}}</b>
                    </td>
                </table>
            </td>
        </tr>
        <tr>
            <table style="font-family: 'Helvetica',sans-serif">
                <tr>
                    <td style="padding-left: 76px;padding-top: 35px">
                        <img style="height: 82px;" src="assets/images/newtermsblue.png">
                    </td>
                    <td style="width: 14px;padding-top: 35px"></td>
                    <td style="padding-right: 76px;padding-top: 35px">
                        <span style="color: #2e3192;font-size: 26px">TERMS & CONDITIONS</span>
                        <ul id="bulletedul" style="color:black;list-style: disc;font-size: 14px;padding-left: 19px;">
                            <li>The information I have supplied is correct and I am authorised to place this order.</li>
                            <li>I agree to order the goods and/or services stated and to pay all charges in connection with them.</li>
                            <li>I agree to the Terms stated on this offer and the <a href="#" style="text-decoration: none;">Business Terms & Conditions</a> (which I have read and understood) and to receive notice by email for any changes.</li>
                            <li>I agree to the above amounts being debited from my account via the payment method nominated in this order.</li>
                            <li>I have read and understood the relevent Critical Information Summaries provided with order or available from <a class="lkj" href="#" style="text-decoration: none;">https://business.mynetfone.com.au/legal/cis.</a></li>
                            <li>I accept the MyNetFone privacy policy available here: <a class="lkj" href="#" style="text-decoration: none;">https://business.mynetfone.com.au/legal/privacy.</a></li>
                            <li>I understand that the NBN services do not support battery backup and Priority Assistance and are not intended for end users who have medical and/or security alarms.</li>
                            <li>This Offer is valid for 30 days from the date of issuance.</li>
                            <li>All accounts that have been referred by a MyNetFone channel partner will have a channel partner setup as a technical contact (unless indicated otherwise)</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </tr>
    </table>
    <htmlpagefooter name='pagesFooter'>
        <div style="background:url(../../assets/images/footernew.jpg) no-repeat;background-size: 100% 100%">        
            <div style="color: white;font-size: 11px;">
                <ul style="list-style: none;line-height: 14px;padding:5px 15px 15px 15px">
                    <li><b>Sydney:</b> 2/71 York Street, Sydney, NSW 2000</li>
                    <li><b>Brisbane:</b> Level 2/5 Cribb St Milton QLD 4064 Sydney NSW 2000</li>
                    <li><b>Melbourne:</b> Level 6 606 St Kilda Rd Melbourne Vic 3004</li>
                    <li><b>Tel:</b> 1 300 02 04 02 | <b>Fax:</b> 1 300 02 88 78 | <b>Email:</b> support@nexgen.com.au | <b>Website:</b> www.nexgen.com.au</li>
                </ul>
            </div>
        </div>        
    </htmlpagefooter>   
</div>