/*@media print{
  page {page-break-after:always;}
}*/

page {
  display: block;
  margin: 0 auto;
  margin-bottom: 0;
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}

page.proposal-cover {
   background: url('../../assets/images/proposal/coverpage.png') no-repeat;
   background-size:cover;
}

page.page-2 {
  background: url('../../assets/images/proposal/2.jpg') no-repeat;
   background-size:cover;
}

page.page-3 {
  background: url('../../assets/images/proposal/3.jpg') no-repeat;
  background-size:cover;
}

page.page-4{
  background:url('../../assets/images/proposal/4.jpg') no-repeat;
  background-size:cover;
}

page.page-5{
  background:url('../../assets/images/proposal/5.jpg') no-repeat;
  background-size:cover;
}

page.page-6{
  background:url('../../assets/images/proposal/6.jpg') no-repeat;
  background-size: cover;
}

page.page-7{
  background:url('../../assets/images/proposal/7.jpg') no-repeat;
  background-size: cover;
}

page.page-8{
  background:url('../../assets/images/proposal/8.jpg');
  background-size: cover;
}

tr {
  height:45px;
}

table{
  font-family: poppinsfontmedium;
  border-collapse: collapse;
  width:657px;
}

table td , th{
  height:13px;
  padding: 12px;
}

/*tr:nth-child(even){
  background-color:#b4b4b4;
}

tr:nth-child(odd){
  background-color:#d2d2d2;
}*/

th{
  padding-top:12px;
  padding-bottom: 12px;
  /*background-color:#1f1f14;*/
  color: white;
}

/*td {
  border :1px solid white;
}*/
/*
@font-face{
  font-family: poppinssemibold;
  src:url(poppins/poppins-semibold.ttf);
}

@font-face{
  font-family: poppinsregular;
  src:url(poppins/poppins-regular.ttf);
}

@font-face{
  font-family: poppinsfontbold;
  src:url(poppins/poppins-bold.ttf);
}

@font-face {
  font-family: poppinsfontmedium;
  src:url(poppins/poppins-medium.ttf);
}

@font-face{
  font-family: poppinsfontlight;
  src:url(poppins/poppins-light.ttf);
}*/

div.regulartext{
  font-family: poppinsregular;
  font-size: 12px;
  margin-left: 34px;
  line-height: 1.5;
}

div.regulartext1{
  font-family: poppinsregular;
  font-size: 12px;
  margin-left: 34px;
  line-height: 1.25;
}

span.information{
  margin-left: 15px;
  font-size:12px;
}

div.regfonted{
  font-family: poppinssemibold;
  margin-left: 39px;
  line-height: 0.9;
}

div.lightfonted{
  font-family: poppinsfontlight;
  margin-left: 34px;
  line-height: 0.9;
}

div.fonted{
  font-family: poppinsfontmedium;
  margin-left: 34px;
  line-height: 0.9;
}

div.inputs{
  font-family: poppinsfontmedium; 
  font-size: 20px; 
  margin-left: 60px;
}

div.boldheader{
  font-family: poppinssemibold;
  font-size: 30px;
  margin-left: 34px;
}

/*@media print{
  page {page-break-after:always;}
}*/


