body {
    margin-top:8px;
}
.hidden{
  display:none;
}
.row>img {
    width:100%;
    background-size:cover;
}
.thumbnail {
    max-width:100px;
    display:inline;
}
a {
    text-decoration:none;
}
.selected-image {
  box-shadow:0px 8px 11px 0px ;
}
img{
	/* border:solid 0.5px red;  */
	border-radius: 8px;
}
.src-image {
  display: none;
}

.card {
  border-radius:2px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.3);
  
}

.card-selected {
  
  border-radius: 2px;
  text-align: center;
  box-shadow:0px 8px 11px 0px ;
  background: rgba(0, 0, 0, 0.5);
  
}

.card .avatar img {
  width: 100px;	
  height: 100px;
}
